<div class="profile-layout">
  <div class="clubs-container">
    <div class="clubs-page" [class.rtl]="currentLang === 'ar'">
      <header class="clubs-header">
        <button type="button" class="back-button" [routerLink]="['/dashboard']">
          <span class="back-arrow"></span>
        </button>
        <div class="search-wrapper">
          <span class="search-icon"></span>
          <input
            type="text"
            [(ngModel)]="searchTerm"
            (input)="filterClubs()"
            placeholder="{{ 'CLUBS_PAGE.SEARCH_PLACEHOLDER' | translate }}"
          />
        </div>
      </header>

      <section class="cards-grid">
        <article class="club-card" *ngFor="let club of filteredClubs">
          <div class="club-card-content">
            <div class="club-main-info">
              <div class="club-avatar">
                <img
                  *ngIf="club.logo; else fallback"
                  [src]="'http://127.0.0.1:8000' + club.logo"
                  alt="Logo"
                />
                <ng-template #fallback>
                  <span>{{
                    currentLang === 'ar'
                      ? club.club_name_ar?.slice(0, 1)
                      : club.club_name?.slice(0, 1)
                  }}</span>
                </ng-template>
              </div>

              <div class="club-text">
                <span
                  *ngIf="auth.getUserRole() === 'staff' && club.status === 'inactive'"
                  style="
                    color: #dc3545;
                    font-size: 0.8rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    display: block;
                    margin-bottom: 4px;
                  "
                >
                  ● Rejected Request
                </span>

                <span
                  *ngIf="club.status === 'pending'"
                  style="
                    color: #f39c12;
                    font-size: 0.8rem;
                    font-weight: bold;
                    display: block;
                    margin-bottom: 4px;
                  "
                >
                  ● Pending Review
                </span>
                <h2>{{ currentLang === 'ar' ? club.club_name_ar : club.club_name }}</h2>
                <p>{{ currentLang === 'ar' ? club.description_ar : club.description }}</p>
                <p><strong>Requested by: </strong>{{ club.first_name }} {{ club.last_name }}</p>
              </div>
            </div>

            <div
              *ngIf="auth.getUserRole() === 'staff' && club.status === 'pending'"
              class="admin-actions"
            >
              <button (click)="approveClub(club.id, 'approve')" class="badge badge-success">
                Approve
              </button>
              <button (click)="approveClub(club.id, 'reject')" class="badge badge-danger">
                Reject
              </button>
            </div>
          </div>
          <div
            class="col-3"
            *ngIf="club.status === 'active'"
            class="admin-actions"
            style="align-items: center; display: flex"
          >
            <div class="club-card-actions">
              <button
                [routerLink]="['/dashboard/club-profile', club.id]"
                type="button"
                class="pill-button"
              >
                {{ 'CLUBS_PAGE.DISCOVER' | translate }}
              </button>
            </div>
          </div>
        </article>
      </section>
    </div>
    <app-profile-sidebar></app-profile-sidebar>
  </div>
</div>
