:root {
  --color-primary: #334B71;
  --color-primary-dark: #2c4061;
  --color-gray-dark: #0c0c0cc9;
  --color-gray-light: #333333C9;
  --color-orange: #D35F30;
  --color-white: #FFFFFF;
  --color-dark-blue: #799ABA;
  --color-light-blue: #9fc5ea;
}