.profile-layout {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  overflow: visible;
  min-height: 100vh;
}

app-profile-sidebar {
  flex-shrink: 0;
}

app-student-dashboard {
  flex: 1;
}