<div class="dashboard-home" [class.rtl]="currentLang === 'ar'">
  <app-sidebar></app-sidebar>
  <main class="main-panel">
    <div class="top-bar">
      <div class="sparkhub-logo">
        <img src="assets/images/Sparkhub-logo.png" width="150px" alt="SparkHub Logo" />
      </div>
      <div class="search-card">
        <span class="search-icon"></span>

        <input
          type="text"
          [(ngModel)]="searchTerm"
          (input)="onSearch()"
          placeholder="{{ 'DASHBOARD.TOP.SEARCH_PLACEHOLDER' | translate }}"
        />

        <div class="search-results" *ngIf="searchResults.length > 0">
          <div
            class="search-item"
            *ngFor="let result of searchResults"
            (click)="goToSearchResult(result)"
          >
            <small class="result-type">
              {{ result.type }}
            </small>

            <strong>
              {{ result.name }}
            </strong>

            <p *ngIf="result.description">
              {{ result.description }}
            </p>
          </div>
        </div>
      </div>
      <div class="profile-card" (click)="goToProfile()" style="cursor: pointer">
        <div class="profile-avatar">{{ user?.first_name?.charAt(0) || '?' }}</div>
        <div>
          <div *ngIf="user; else loadingUser">
            <span class="profile-label">{{ 'DASHBOARD.TOP.PROFILE' | translate }}</span>
            <strong>{{ user?.first_name }} {{ user?.last_name }}</strong>
          </div>
        </div>
        <ng-template #loadingUser>
          <div>
            <span class="profile-label">Loading...</span>
          </div>
        </ng-template>
      </div>
    </div>

    <section class="section-cutout">
      <div class="section-header">
        <div>
          <h2>{{ 'DASHBOARD.OF_MONTH.TITLE' | translate }}</h2>
        </div>
        <div class="toggle-group">
          <button
            type="button"
            class="toggle"
            [class.active]="activeLeaderboard === 'CLUBS'"
            (click)="setLeaderboardTab('CLUBS')"
          >
            {{ 'DASHBOARD.OF_MONTH.TABS.CLUBS' | translate }}
          </button>
          <button
            type="button"
            class="toggle"
            [class.active]="activeLeaderboard === 'STUDENTS'"
            (click)="setLeaderboardTab('STUDENTS')"
          >
            {{ 'DASHBOARD.OF_MONTH.TABS.STUDENTS' | translate }}
          </button>
        </div>
      </div>

      <div class="feature-grid" *ngIf="activeLeaderboard === 'CLUBS'">
        <ng-container *ngFor="let club of topClubs; let i = index">
          <article
            *ngIf="club.status === 'active'"
            class="feature-card feature-first"
            [ngClass]="'feature-' + (i + 1)">
            <div class="leaderboard-header">
              <div style="display: flex; align-items: center; gap: 10px">
                <div class="feature-badge">0{{ i + 1 }}</div>

                <span class="feature-label">
                  {{ 'DASHBOARD.OF_MONTH.CARDS.0' + (i + 1) + '.LABEL' | translate }}
                </span>
                <span *ngIf="i === 0" class="crown-icon" title="Top Club">👑</span>
              </div>

              <small
                class="text-primary-emphasis bg-primary-subtle rounded-3 p-2"
                style="justify-content: end"
                >{{ club.points !== undefined ? club.points : 0 }}
                {{ 'DASHBOARD.OF_MONTH.CARDS.POINTS' | translate }}</small
              >
            </div>
            <div>
              <h4>{{ currentLang === 'ar' ? club.club_name_ar : club.club_name }}</h4>
              <p>{{ currentLang === 'ar' ? club.description_ar : club.description }}</p>
              <a [routerLink]="['/dashboard/club-profile', club.id]" class="link-action small">
                {{ 'DASHBOARD.ACTIONS.DETAILS' | translate }}
              </a>
            </div>
          </article>
        </ng-container>
      </div>

      <div class="feature-grid" *ngIf="activeLeaderboard === 'STUDENTS'">
        <ng-container *ngFor="let student of topStudents; let i = index">
          <article class="feature-card feature-first" [ngClass]="'feature-' + (i + 1)">
            <div class="leaderboard-header">
              <div style="display: flex; align-items: center; gap: 10px">
                <div class="feature-badge">0{{ i + 1 }}</div>

                <span class="feature-label">
                  {{ 'DASHBOARD.OF_MONTH.STUDENTS.CARDS.0' + (i + 1) + '.LABEL' | translate }}
                </span>

                <span *ngIf="i === 0" class="crown-icon" title="Top Student">👑</span>
              </div>

              <small class="text-primary-emphasis bg-primary-subtle rounded-3 p-2">
                {{ student.points || 0 }} {{ 'DASHBOARD.OF_MONTH.CARDS.POINTS' | translate }}
              </small>
            </div>

            <div>
              <h4>{{ student.first_name }} {{ student.last_name }}</h4>
              <p class="text-truncate">{{ student.bio || 'Active SparkHub Student' }}</p>
              <a [routerLink]="['/dashboard/user-profile', student.id]" class="link-action small">
                {{ 'DASHBOARD.ACTIONS.DETAILS' | translate }}
              </a>
            </div>
          </article>
        </ng-container>
      </div>
    </section>

    <section class="section-block">
      <div class="section-header small-header">
        <h3>{{ 'DASHBOARD.CLUBS.TITLE' | translate }}</h3>
        <ng-container *ngIf="currentLang === 'en'; else arabicArrow">
          <button class="arrow" [routerLink]="['/dashboard/clubs']">
            <i class="bi bi-arrow-right"></i>
          </button>
        </ng-container>

        <ng-template #arabicArrow>
          <button class="arrow" [routerLink]="['/dashboard/clubs']">
            <i class="bi bi-arrow-left"></i>
          </button>
        </ng-template>
      </div>

      <div class="cards-row">
        <ng-container *ngFor="let club of clubs | slice: 0 : 3">
          <article class="info-card" *ngIf="club.status === 'active'">
            <div *ngIf="club.status === 'active'">
              <div class="card-icon">
                {{ club.club_name?.charAt(0) }}
              </div>
              <h4>{{ currentLang === 'ar' ? club.club_name_ar : club.club_name }}</h4>
              <p>{{ currentLang === 'ar' ? club.description_ar : club.description }}</p>
              <a [routerLink]="['/dashboard/club-profile', club.id]" class="link-action small">{{
                'DASHBOARD.ACTIONS.DETAILS' | translate
              }}</a>
            </div>
          </article>
        </ng-container>
      </div>
    </section>

    <section class="section-block activities-block">
      <div class="section-header small-header">
        <h3>{{ 'DASHBOARD.ACTIVITIES.TITLE' | translate }}</h3>
        <ng-container *ngIf="currentLang === 'en'; else arabicArrow">
          <button class="arrow" [routerLink]="['/dashboard/activities']">
            <i class="bi bi-arrow-right"></i>
          </button>
        </ng-container>

        <ng-template #arabicArrow>
          <button class="arrow" [routerLink]="['/dashboard/activities']">
            <i class="bi bi-arrow-left"></i>
          </button>
        </ng-template>
      </div>

      <div class="activities-grid">
        <article class="activity-card" *ngFor="let activity of activitiesSorted">
          <div class="activity-img-wrapper">
            <ng-container *ngIf="activity?.image && !imageError; else fallback">
              <img [src]="activity.image" class="activity-img" alt="Activity image" />
            </ng-container>

            <ng-template #fallback>
              <i class="bi bi-image"></i>
            </ng-template>
          </div>
          <div class="activity-copy">
            <h4>{{ currentLang === 'ar' ? activity.title_ar : activity.title }}</h4>
            <h5>{{ activity.club_name }}</h5>
            <p>{{ activity.date | date: 'yyyy-MM-dd' }}</p>
            <p>{{ activity.location }}</p>
            <button
              (click)="openActivity(activity)"
              class="link-action small"
              style="background: transparent; border: 0; text-align: start"
            >
              {{ 'DASHBOARD.ACTIONS.MORE' | translate }}
            </button>
          </div>
        </article>
      </div>

      <div *ngIf="selectedActivity">
        <div class="modal-backdrop" (click)="close()"></div>
        <div class="modal-box">
          <button class="close-btn" (click)="close()">×</button>

          <h2>{{ currentLang === 'ar' ? selectedActivity.title_ar : selectedActivity.title }}</h2>
          <p class="description">
            {{
              currentLang === 'ar' ? selectedActivity.description_ar : selectedActivity.description
            }}
          </p>

          <div class="details">
            <div><i class="bi bi-geo-alt"></i> {{ selectedActivity.location }}</div>
            <div>
              <i class="bi bi-calendar"></i> {{ selectedActivity.date | date: 'dd-MM-yyyy' }}
            </div>

            <div>
              <i class="bi bi-people"></i>
              {{ currentLang === 'ar' ? 'العدد الأقصى: ' : 'Max attendees: ' }}
              {{ selectedActivity.max_attendees }}
            </div>

            <div>
              <i class="bi bi-star"></i>
              {{ currentLang === 'ar' ? 'نقاط النشاط: ' : 'Earn points: ' }} 3
            </div>
          </div>

          <button
            class="action-button big"
            *ngIf="!isPast(selectedActivity)"
            (click)="register(selectedActivity.id)"
          >
            {{ currentLang === 'ar' ? 'سجل الآن' : 'Register now' }}
          </button>
        </div>
      </div>
    </section>
  </main>
</div>
