<div class="profile-layout">
  <div class="club-page">
    <div class="profile-header">
      <button class="back-btn" type="button" [routerLink]="['/dashboard']">
        <i class="bi bi-chevron-left"></i>
      </button>
    </div>
    <div class="club-hero">
      <div class="hero-left">
        <div class="club-logo-circle">
          <ng-container *ngIf="club?.logo && !imageError; else fallback">
            <img
              [src]="'http://127.0.0.1:8000' + club.logo"
              class="club-logo-img"
              (error)="imageError = true"
            />
          </ng-container>

          <ng-template #fallback>
            <i class="bi bi-people-fill"></i>
          </ng-template>
        </div>

        <div class="club-card">
          <div class="club-card-top">
            <div class="club-info">
              <h2 class="club-name">{{ club?.club_name }}</h2>
              <p class="club-desc">
                {{ club?.description }}
              </p>
            </div>

            <div class="stats-inline">
              <div class="stat">
                <span class="stat-num">{{ club?.members_count || 0 }}</span>
                <span class="stat-lbl">member</span>
              </div>

              <div class="stat">
                <span class="stat-num">{{ club?.event_count || 0 }}</span>
                <span class="stat-lbl">events</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="hero-right">
        <div style="display: flex; gap: 10px">
          <button class="btn-join" type="button" (click)="openEditClubModal()">
            <i class="bi bi-pencil-square" style="color: white"></i>
            {{ 'CLUB_PROFILE.EDIT_CLUB' | translate }}
          </button>
          <button class="icon-btn-r" type="button" (click)="toggleNotify()">
            <i class="bi" [ngClass]="isNotified ? 'bi-share-fill' : 'bi-share'"> </i>
          </button>
        </div>
        <div class="icon-btns">
          <div class="menu-wrapper">
            <button class="icon-btn-r" type="button" (click)="clubRequests()">
              <i class="bi bi-person-lines-fill p-2"></i>
              {{ 'CLUB_PROFILE.CLUB_MEMBERS' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="section-header">
        <span class="section-title">Posts</span>

        <button class="btn-create" type="button" (click)="createPost()">
          <i class="bi bi-plus-circle" style="color: white"></i>
          Create Post
        </button>
      </div>

      <div class="posts-grid">
        <div class="post-card" *ngFor="let post of visiblePosts">
          <div class="post-img-placeholder">
            <img *ngIf="post.image" [src]="'http://127.0.0.1:8000' + post.image" class="post-img" />

            <i *ngIf="!post.image" class="bi bi-image"></i>
          </div>

          <div class="post-body">
            <p class="post-title">
              {{ post.content }}
            </p>

            <div class="post-meta">
              <button class="post-readmore" type="button" (click)="readMore(post)">
                Read more
              </button>

              <span class="post-date">
                {{ post.created_at | date: 'dd-MM-yyyy' }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="show-more-row" *ngIf="posts.length > 3">
        <button class="btn-show-more" type="button" (click)="showAllPosts = !showAllPosts">
          {{ showAllPosts ? 'Show less <' : 'Show more >' }}
        </button>
      </div>
    </div>

    <div class="section">
      <div class="section-header">
        <span class="section-title">Events</span>
        <button class="btn-create" type="button" (click)="createEvent()">
          <i class="bi bi-plus-circle" style="color: white"></i>
          Create Event
        </button>
      </div>

      <div class="events-grid">
        <div class="event-card" *ngFor="let event of visibleEvents">
          <div class="event-img-placeholder">
            <img *ngIf="event.image" class="banner" [src]="event.image" alt="Activity banner" />
          </div>

          <div class="event-body">
            <p class="event-title">
              {{ currentLang === 'ar' ? event.title_ar : event.title }}
            </p>

            <div class="event-meta">
              <span>
                <i class="bi bi-calendar3"></i>
                {{ event.date | date: 'dd-MM-yyyy' }}
              </span>

              <span>
                <i class="bi bi-geo-alt"></i>
                {{ event.location }}
              </span>
            </div>

            <div class="event-footer">
              <button (click)="openActivity(event)" class="btn-more">
                {{ 'DASHBOARD.ACTIONS.MORE' | translate }}
              </button>

              <div class="leader-actions">
                <button
                  (click)="viewParticipants(event.id)"
                  class="btn-icon"
                  title="View Participants"
                >
                  <i class="bi bi-people"></i>
                </button>

                <button
                  (click)="confirmDeleteActivity(event.id)"
                  class="btn-icon delete"
                  title="Delete Activity"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="show-more-row" *ngIf="events.length > 4">
        <button class="btn-show-more" type="button" (click)="showAllEvents = !showAllEvents">
          {{ showAllEvents ? 'Show less ←' : 'Show more →' }}
        </button>
      </div>
    </div>

    <div *ngIf="selectedActivity">
      <div class="modal-backdrop" (click)="close()"></div>
      <div class="modal-box">
        <button class="close-btn" (click)="close()">×</button>

        <!-- <img
          *ngIf="selectedActivity.image"
          class="banner"
          [src]="selectedActivity.image"
          alt="Activity banner"
        /> -->

        <h2>{{ currentLang === 'ar' ? selectedActivity.title_ar : selectedActivity.title }}</h2>

        <p class="description">
          {{
            currentLang === 'ar' ? selectedActivity.description_ar : selectedActivity.description
          }}
        </p>

        <div class="details">
          <div>
            <i class="bi bi-geo-alt"></i>
            {{ selectedActivity.location }}
          </div>

          <div>
            <i class="bi bi-calendar"></i>
            {{ selectedActivity.date | date: 'dd-MM-yyyy' }}
          </div>

          <div>
            <i class="bi bi-people"></i>
            Max attendees: {{ selectedActivity.max_attendees }}
          </div>

          <div>
            <i class="bi bi-star"></i>
            Earn points: 3
          </div>
        </div>

        <button class="action-button big" (click)="register(selectedActivity.id)">
          Register now
        </button>
      </div>
    </div>

    <div class="modal-overlay" *ngIf="showPostDetailModal" (click)="closePostDetailModal()">
      <div class="modal-content post-detail-modal" (click)="$event.stopPropagation()">
        <div class="modal-header">
          <h3>Post Details</h3>
          <button class="close-btn" (click)="closePostDetailModal()">×</button>
        </div>

        <div class="modal-body" *ngIf="selectedPost">
          <img *ngIf="selectedPost.image" [src]="selectedPost.image" class="full-post-img" />
          <p class="full-post-content">{{ selectedPost.content }}</p>
          <span class="post-date">{{ selectedPost.created_at | date: 'fullDate' }}</span>
        </div>
      </div>
    </div>

    <div class="modal-overlay" *ngIf="showEditClubModal" (click)="closeEditClubModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
          <h2>Edit Club</h2>

          <button type="button" class="modal-close" (click)="closeEditClubModal()">×</button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label>Club Name</label>
            <input type="text" class="form-input" [(ngModel)]="editClubForm.club_name" />
          </div>

          <div class="form-group">
            <label>Club Name Arabic</label>
            <input type="text" class="form-input" [(ngModel)]="editClubForm.club_name_ar" />
          </div>

          <div class="form-group">
            <label>Description</label>
            <textarea class="form-input" rows="5" [(ngModel)]="editClubForm.description"></textarea>
          </div>

          <div class="form-group">
            <label>Arabic Description</label>
            <textarea
              class="form-input"
              rows="5"
              [(ngModel)]="editClubForm.description_ar"
            ></textarea>
          </div>

          <div class="form-group">
            <label>Club Logo</label>
            <input
              type="file"
              class="form-input"
              style="min-height: 50px"
              accept="image/*"
              (change)="onClubLogoSelected($event)"
            />

            <!-- <img
              *ngIf="editClubForm.logoPreview"
              [src]="editClubForm.logoPreview"
              style="width: 100%; border-radius: 12px; margin-top: 10px"
            /> -->
          </div>

          <div class="modal-footer">
            <button class="btn-secondary" (click)="closeEditClubModal()">Cancel</button>

            <button class="btn-primary" (click)="saveClubChanges()">Save Changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-overlay" *ngIf="showCreatePostModal" (click)="closeCreatePostModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
          <div style="display: flex; gap: 10px; align-items: center">
            <h2>Create Post</h2>
            <small class="text-primary-emphasis bg-primary-subtle rounded-3 p-1"> 10 Points </small>
          </div>
          <button type="button" class="modal-close" (click)="closeCreatePostModal()">×</button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label>Post Content</label>

            <textarea class="form-input" rows="5" [(ngModel)]="postForm.content"></textarea>
          </div>

          <div class="form-group">
            <label>Post Image</label>

            <input
              type="file"
              class="form-input"
              style="min-height: 50px"
              accept="image/*"
              (change)="onPostImageSelected($event)"
            />

            <img
              *ngIf="postForm.imagePreview"
              [src]="postForm.imagePreview"
              style="width: 100%; border-radius: 12px; margin-top: 10px"
            />
          </div>

          <div class="modal-footer">
            <button class="btn-secondary" (click)="closeCreatePostModal()">Cancel</button>

            <button class="btn-primary" (click)="publishPost()">Publish Post</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-overlay" *ngIf="showCreateEventModal" (click)="closeCreateEventModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
          <div style="display: flex; gap: 10px; align-items: center">
            <h2>Create Event</h2>
            <small class="text-primary-emphasis bg-primary-subtle rounded-3 p-1"> 15 Points </small>
          </div>

          <button type="button" class="modal-close" (click)="closeCreateEventModal()">×</button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label>Title</label>

            <input type="text" class="form-input" [(ngModel)]="eventForm.title" />
          </div>

          <div class="form-group">
            <label>Arabic Title</label>

            <input type="text" class="form-input" [(ngModel)]="eventForm.title_ar" />
          </div>

          <div class="form-group">
            <label>Description</label>

            <textarea rows="4" class="form-input" [(ngModel)]="eventForm.description"></textarea>
          </div>

          <div class="form-group">
            <label>Location</label>

            <input type="text" class="form-input" [(ngModel)]="eventForm.location" />
          </div>

          <div class="form-group">
            <label>Date</label>

            <input type="datetime-local" class="form-input" [(ngModel)]="eventForm.date" />
          </div>

          <div class="form-group">
            <label>Max Attendees</label>

            <input type="number" class="form-input" [(ngModel)]="eventForm.max_attendees" />
          </div>

          <div class="form-group">
            <label>Category</label>

            <select class="form-input" [(ngModel)]="eventForm.category">
              <option value="WORKSHOPS">Workshops</option>
              <option value="DISCUSSIONS">Discussions</option>
              <option value="EXHIBITIONS">Exhibitions</option>
              <option value="OTHER">Other</option>
            </select>
          </div>

          <div class="form-group">
            <label>Event Image</label>

            <input
              type="file"
              class="form-input"
              style="min-height: 50px"
              accept="image/*"
              (change)="onEventImageSelected($event)"
            />
          </div>

          <div class="modal-footer">
            <button class="btn-secondary" (click)="closeCreateEventModal()">Cancel</button>

            <button class="btn-primary" (click)="submitEvent()">Create Event</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-profile-sidebar></app-profile-sidebar>
</div>
