/* You can add global styles to this file, and also import other style files */

@import './styles/fonts.css';
@import './styles/colors.css';
@import './styles/buttons.css';
@import './styles/forms.css';

@font-face {
  font-family: 'Thmanyah';
  src: url('/assets/fonts/thmanyahseriftext-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
}

html[dir='rtl'] body {
  font-family: 'Thmanyah', sans-serif;
}

.agree a {
  color: var(--color-gray-light);
  text-decoration: underline;
}

.alt a {
  color: var(--color-orange);
  text-decoration: underline;
}

.nav-link a {
  color: white;
  text-decoration: none;
}

.swal2-container {
  z-index: 99999 !important;
}

.modal-overlay {
  z-index: 1000; 
}